/* minimum styling form */
body{
    background-color: salmon;
}


.bg-white{
    background-color: white;
}
#wrapper{
    height: 100vh;
}
.info-card{

    border-radius:20px;
    height: 400px;
    width: 900px;
}

#button {
    width :70px;
    height: 30px;
    color: blueviolet;
    border-color: chocolate;
    background-color: darkgray;
    border-radius: 5%;
    display: block;

}